* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family:Arial, Helvetica, sans-serif ;
}
#header {
    height: 60px;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
#nav {
    display:inline-block;
}
#nav , .subnav {
    list-style-type: none;
}
#nav > li{ 
    display:inline-block;
}
#nav li{
    position:relative;
}

#nav > li > a{
    text-transform: uppercase; /* thuộc tính viết chữ in hoa */
    color:#000000;
}

#nav li a{
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display:block;
}
#nav li:hover .subnav {
    display:block;
}
#nav > li:hover > a,
#nav .subnav li:hover a{
    color:#ffffff;
    background-color: #000000;
}

#nav .subnav {
    position: absolute;
    min-width: 160px;
    display:none;
    top: 100%;
    left:0;
    background-color: #fff;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
}

#nav .subnav a{
    color: #000000;
    padding: 0 14px;
    line-height: 38px;
}

#input1 {
    padding: 25px 25px 10px 400px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.product {
    width: 33%;
    background-color: #fff;
    margin-bottom: -21px;
    padding: 40px;
    text-align: center;
    display: inline-block;
    /* float: left; */
}

.product img {
    width: 350px;
    height: 400px;
    border-radius: 40px;
    margin-top: 30px;
}

.product p {
    font-size: 14px;
    color: #888;
    margin-bottom: 10px;
}

.product button {
    padding: 10px 20px;
    border: none;
    background-color: #7a7d81;
    color: #fff;
    border-radius: 5px;
}

.product img:hover {
    width: 355px;
    height: 405px;
    box-shadow: 0 0 5px lightslategrey;
}
#menu li {
    display:inline-block;
    width: 30px;
    height: 60px;
}
 
#menu {
    text-align: center;
}

footer {
    width: 100%;
    text-align: center; 
    display: flex;
    background-color: #000000;
    color: #fff;
    height: 160px;
    padding:20px;
}

footer .footer-section {
    flex: 1;
}

footer ul {
    list-style-type: none;
}

footer li {
    float: none;
}

footer ul li a {
    color: #ffffff;
    text-decoration: none;
}

footer ul li a:hover {
    background: #ffffff;
    color: #000000;
}

p {
    color:red;
}