*{
    margin:0;
    padding:0;
    border:none;
    font-family: 'Open Sans', sans-serif;
}

#header {
    height: 60px;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
#nav {
    display:inline-block;
}
#nav , .subnav {
    list-style-type: none;
}
#nav > li{ 
    display:inline-block;
}
#nav li{
    position:relative;
}

#nav > li > a{
    text-transform: uppercase; /* thuộc tính viết chữ in hoa */
    color:#000000;
}

#nav li a{
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display:block;
}
#nav li:hover .subnav {
    display:block;
}
#nav > li:hover > a,
#nav .subnav li:hover a{
    color:#ffffff;
    background-color: #000000;
}

#nav .subnav {
    position: absolute;
    min-width: 160px;
    display:none;
    top: 100%;
    left:0;
    background-color: #fff;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
}

#nav .subnav a{
    color: #000000;
    padding: 0 14px;
    line-height: 38px;
}

#input1 {
    padding: 25px 25px 10px 400px;
}

h2 {
    margin: 10px 0px 20px;
}

p {
    margin: 0px 0px 10px;
}

input {
    width: 205px;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.form {
    border: 1px solid #80808000;
    height: 480px;
    width: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0px 0px 14px 0px grey;
    background-color: #cecece;
    margin: 100px 0px 90px 560px
}

button {
    width: 205px;
    height: 38px;
    border-radius: 30px;
    background: rgb(92 241 92);
}

footer {
    width: 100%;
    text-align: center; 
    display: flex;
    background-color: #000000;
    color: #fff;
    height: 160px;
    padding: 20px;
}

footer .footer-section {
    flex: 1;
}

footer ul {
    list-style-type: none;
}

footer li {
    float: none;
}

footer ul li a {
    color: #ffffff;
    text-decoration: none;
}

footer ul li a:hover {
    background: #ffffff;
    color: #000000;
}
