* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family:Arial, Helvetica, sans-serif ;
}
#header {
  height: 60px;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
#nav {
  display:inline-block;
}
#nav , .subnav {
  list-style-type: none;
}
#nav > li{ 
  display:inline-block;
}
#nav li{
  position:relative;
}

#nav > li > a{
  text-transform: uppercase; /* thuộc tính viết chữ in hoa */
  color:#000000;
}

#nav li a{
  text-decoration: none;
  line-height: 46px;
  padding: 0 24px;
  display:block;
}
#nav li:hover .subnav {
  display:block;
}
#nav > li:hover > a,
#nav .subnav li:hover a{
  color:#ffffff;
  background-color: #000000;
}

#nav .subnav {
  position: absolute;
  min-width: 160px;
  display:none;
  top: 100%;
  left:0;
  z-index: 1;
  background-color: #fff;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
}

#nav .subnav a{
  color: #000000;
  padding: 0 14px;
  line-height: 38px;
}

#input1 {
  padding: 25px 25px 10px 400px;
}

img {
  width: 330px;
  height: 380px;
}
 
.cart-btn {
    position: relative;
    display: flex;
    justify-content: flex-end;
    font-size: 15px;
}

.fa-shopping-cart:before {
  /* content: "\f07a"; */
  font-size: 20px;
}
#cart {
  position: relative;
  font-size: 2rem;
  cursor: pointer;
  margin: 1em 4em 0 0;
}
  
.cart-quantity {
  color: white;
  background-color: red;
  padding: .2em .3em;
  position: absolute;
  margin: .8em 7.5em 0 0;
  right: 46px;
  border: solid 2px red;
  border-radius: 15px;
  font-weight: bolder;
  top:35%;
  font-size: 10px;
}
  
.items-container {
  display: inline-flex;
  /* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
  margin-top: 1em;
  /* justify-content: space-evenly; */
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0px 163px;
}
  
.card {
  margin: 1em;
  position: relative;
  overflow: hidden; 
}
  
.card:hover .add-to-cart {
  transform: translateX(0);
}
  
img .product-image {
  border: 30px;
  border-radius: 1px solid;
}
  
.add-to-cart {
  background-color: black;
  color: white;
  position: absolute;
  right: 0;
  top: 77.5%;
  padding: .5em 1em; 
  transform: translateX(300px);
  transition: .5s ease;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: bolder;
  font-size: 1.2rem
}

.cart-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  z-index: 2;
  transform: translateX(-200%);
  transition: .5s ease-out;
    
}
  
.cart-modal {
  height: 100vh;
  width: 50%;
  background-color: rgb(50,50,50);
  float: right;
  overflow: scroll;
  overflow-x: hidden;
}
  
#close-btn {
  font-size: 1.5rem;
  float: right;
  margin: .5em 2em 0 0;
  color: white;
  cursor: pointer;
}
  
.cart-is-empty {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1em;
  display: none; 
}
  
.total {
  text-align: center;
  margin: 2em 0 2em 0;
  /*   display: none; */
}
  
.cart-total {
  color: white;
}
  
.total-price {
  color: white;
  font-size: 2rem;
  display: block;
}
.purchase-btn {
  font-size: 1rem;
  font-weight: bolder;
  background-color: green;
  color: white;
  padding: 1em 2em;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  margin: 2em 0 1em 0;
}
  
.product-rows {
  margin-top: 3em;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
    
}
  
.product-row {
  display: flex;
  align-items: center;
}
  
.cart-image {
  width: 115px;
  margin: 1em;
  height: 130px;
}
  
.cart-price {
  color: white;
  font-size: 1.5rem;
  font-weight: bolder;
}
  
.product-quantity {
  width: 4rem;
  font-size: 2rem;
  margin-left: 3rem;
}
.remove-btn {
  padding: 1em 2em;
  background-color: red;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  margin-left: 10rem;
  font-weight: bolder;
  font-size: 1rem;
}

.product-image:hover {
  width: 350px;
  height: 400px;
  box-shadow: 0 0 5px lightslategrey;
} 
.remove-btn:active {
  transform: translateY(5px);
}

/* @media (max-width: 1000px){
    .cart-modal {
      width: 100vw;
    } 
    
    .product-row {
      flex-direction: column;
      text-align: center;
      margin-bottom: 2em;
    }
    
    .remove-btn {
      margin: 0
    }
    
    .product-quantity {
      margin: .5em 0 .5em 0
    }
  } */

  footer {
    width: 100%;
    text-align: center; 
    display: flex;
    background-color: #000000;
    color: #fff;
    height: 160px;
    padding: 20px;
}

footer .footer-section {
    flex: 1;
}

footer ul {
    list-style-type: none;
}

footer li {
    float: none;
}

footer ul li a {
    color: #ffffff;
    text-decoration: none;
}

footer ul li a:hover {
    background: #ffffff;
    color: #000000;
}
